## Colon Cancer Survival Analysis

In [7]:
# importing necessary libraries
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Loading the data set

In [8]:
# importing the stats library
import pyreadstat
# loadoing the dataset
colcan_data, meta = pyreadstat.read_sav("COLON.SAV")

In [9]:
colcan_data.head()

,AGE,SEX,CHANCE,PATTERN,BLDLOSS,STOMACHE,WGHTLOSS,ILEUS,STATUS,STAGE,LOC,SURV,OPYEAR,AGEGR
0,74.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,2.0,9.191,72.0,3.0
1,63.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,4.0,3.0,0.419,62.0,2.0
2,80.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,2.0,3.0,3.058,63.0,3.0
3,76.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,1.0,1.927,63.0,3.0
4,25.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,4.0,4.0,0.931,66.0,1.0

In [10]:
colcan_data.tail()

,AGE,SEX,CHANCE,PATTERN,BLDLOSS,STOMACHE,WGHTLOSS,ILEUS,STATUS,STAGE,LOC,SURV,OPYEAR,AGEGR
561,66.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0,17.043,58.0,2.0
562,61.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,3.0,2.0,0.660,58.0,2.0
563,68.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,2.0,4.0,1.561,58.0,2.0
564,70.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,12.986,58.0,2.0
565,62.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,1.0,6.535,58.0,2.0

Checking the variables in the data set.

In [12]:
#checking the variables in the dataset in list format
colcan_data.columns.tolist()

['AGE',
 'SEX',
 'CHANCE',
 'PATTERN',
 'BLDLOSS',
 'STOMACHE',
 'WGHTLOSS',
 'ILEUS',
 'STATUS',
 'STAGE',
 'LOC',
 'SURV',
 'OPYEAR',
 'AGEGR']

Checkinh the datatypes

In [14]:
# checking the datatypes
colcan_data.dtypes

AGE         float64
SEX         float64
CHANCE      float64
PATTERN     float64
BLDLOSS     float64
STOMACHE    float64
WGHTLOSS    float64
ILEUS       float64
STATUS      float64
STAGE       float64
LOC         float64
SURV        float64
OPYEAR      float64
AGEGR       float64
dtype: object