## Colon Cancer Survival Analysis

In [2]:
# importing necessary libraries
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Loading the data set

In [3]:
# importing the stats library
import pyreadstat
# loadoing the dataset
colcan_data, meta = pyreadstat.read_sav("COLON.SAV")

In [4]:
colcan_data.head()

,AGE,SEX,CHANCE,PATTERN,BLDLOSS,STOMACHE,WGHTLOSS,ILEUS,STATUS,STAGE,LOC,SURV,OPYEAR,AGEGR
0,74.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,2.0,9.191,72.0,3.0
1,63.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,4.0,3.0,0.419,62.0,2.0
2,80.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,2.0,3.0,3.058,63.0,3.0
3,76.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,1.0,1.927,63.0,3.0
4,25.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,4.0,4.0,0.931,66.0,1.0

In [5]:
colcan_data.tail()

,AGE,SEX,CHANCE,PATTERN,BLDLOSS,STOMACHE,WGHTLOSS,ILEUS,STATUS,STAGE,LOC,SURV,OPYEAR,AGEGR
561,66.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0,17.043,58.0,2.0
562,61.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,3.0,2.0,0.660,58.0,2.0
563,68.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,2.0,4.0,1.561,58.0,2.0
564,70.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,12.986,58.0,2.0
565,62.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,1.0,6.535,58.0,2.0

Checking the variables in the data set.

In [6]:
#checking the variables in the dataset in list format
colcan_data.columns.tolist()

['AGE',
 'SEX',
 'CHANCE',
 'PATTERN',
 'BLDLOSS',
 'STOMACHE',
 'WGHTLOSS',
 'ILEUS',
 'STATUS',
 'STAGE',
 'LOC',
 'SURV',
 'OPYEAR',
 'AGEGR']

Checkinh the datatypes

In [7]:
# checking the datatypes
colcan_data.dtypes

AGE         float64
SEX         float64
CHANCE      float64
PATTERN     float64
BLDLOSS     float64
STOMACHE    float64
WGHTLOSS    float64
ILEUS       float64
STATUS      float64
STAGE       float64
LOC         float64
SURV        float64
OPYEAR      float64
AGEGR       float64
dtype: object

Checking for missing values

In [8]:
# checking for missing values
colcan_data.isnull().sum()

AGE         0
SEX         0
CHANCE      0
PATTERN     0
BLDLOSS     0
STOMACHE    0
WGHTLOSS    0
ILEUS       0
STATUS      0
STAGE       0
LOC         0
SURV        0
OPYEAR      0
AGEGR       0
dtype: int64

Changing data types

In [10]:
# converting categorical variables to category type
cateorical_vars = ["SEX","CHANCE", "PATTERN","BLDLOSS","STOMACHE","WGHTLOSS","ILEUS","STATUS","STAGE","LOC"]

colcan_data[cateorical_vars]= colcan_data[cateorical_vars].astype("category")

# converting float variables to int type
for col in cateorical_vars:
    colcan_data[col] =colcan_data[col].astype("int").astype("category")

# confirming the changes
colcan_data.dtypes

AGE          float64
SEX         category
CHANCE      category
PATTERN     category
BLDLOSS     category
STOMACHE    category
WGHTLOSS    category
ILEUS       category
STATUS      category
STAGE       category
LOC         category
SURV         float64
OPYEAR       float64
AGEGR        float64
dtype: object

Checking the summary statistic for the dataset

In [11]:
# checking summary statistics
colcan_data.describe(include="all")

,AGE,SEX,CHANCE,PATTERN,BLDLOSS,STOMACHE,WGHTLOSS,ILEUS,STATUS,STAGE,LOC,SURV,OPYEAR,AGEGR
count,566.000000,566.0,566.0,566.0,566.0,566.0,566.0,566.0,566.0,566.0,566.0,566.000000,566.000000,566.000000
unique,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,4.0,4.0,NaN,NaN,NaN
top,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,3.0,NaN,NaN,NaN
freq,NaN,287.0,520.0,319.0,303.0,327.0,388.0,515.0,408.0,211.0,244.0,NaN,NaN,NaN
mean,65.780919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.770231,68.671378,2.095406
std,11.707258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.818686,6.109745,0.799168
min,20.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.003000,58.000000,1.000000
25%,60.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.734500,63.000000,1.000000
50%,67.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.107000,69.000000,2.000000
75%,74.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.754750,74.000000,3.000000
max,93.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.494000,78.000000,3.000000

In [12]:
# checking the summary statistics for the numeric variables
colcan_data.describe()

              AGE        SURV      OPYEAR       AGEGR
count  566.000000  566.000000  566.000000  566.000000
mean    65.780919    4.770231   68.671378    2.095406
std     11.707258    4.818686    6.109745    0.799168
min     20.000000    0.003000   58.000000    1.000000
25%     60.000000    0.734500   63.000000    1.000000
50%     67.000000    3.107000   69.000000    2.000000
75%     74.000000    7.754750   74.000000    3.000000
max     93.000000   22.494000   78.000000    3.000000

Value count for categorical variables

In [14]:
#  checking value counts for categorical variables
print("\n categorical variable distribution")
for col in cateorical_vars:
    print(f"\n{col}: \n {colcan_data[col].value_counts()}")

 categorical variable distribution

SEX:
 SEX
0    287
1    279
Name: count, dtype: int64

CHANCE:
 CHANCE
0    520
1     46
Name: count, dtype: int64

PATTERN:
 PATTERN
1    319
0    247
Name: count, dtype: int64

BLDLOSS:
 BLDLOSS
0    303
1    263
Name: count, dtype: int64

STOMACHE:
 STOMACHE
0    327
1    239
Name: count, dtype: int64

WGHTLOSS:
 WGHTLOSS
0    388
1    178
Name: count, dtype: int64

ILEUS:
 ILEUS
0    515
1     51
Name: count, dtype: int64

STATUS:
 STATUS
1    408
0    158
Name: count, dtype: int64

STAGE:
 STAGE
2    211
1    135
4    131
3     89
Name: count, dtype: int64

LOC:
 LOC
3    244
4    138
1    135
2     49
Name: count, dtype: int64